<div class="row">
	<h3 class="col-md-9">Daily Report for the week of {{weekStart}}</h3>
	<h3 class="col-md-3">Category: {{category}}</h3>
</div>
<accordion close-others="false">
	<accordion-group is-open="$parent.isopen1">
	    <accordion-heading>
	        Successful Delivery Total: {{deliverytotal}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen1, 'glyphicon-chevron-right': !isopen1}"></i>
	    </accordion-heading>
	    		<div ui-chart="chart" chart-options="chartOptions"></div>
	</accordion-group>    
	<accordion-group is-open="$parent.isopen2">
	    <accordion-heading>
	        Failed Delivery Total: {{faileddeliverytotal}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen2}"></i>
	    </accordion-heading>
	    		<div ui-chart="chart2" chart-options="chartOptions2"></div>
	</accordion-group>
	<accordion-group is-open="$parent.isopen3">
	    <accordion-heading>
	        Failed Reasons Total: {{failedreasonstotal}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen3, 'glyphicon-chevron-right': !isopen3}"></i>
	    </accordion-heading>
	    		<div ui-chart="chart3" chart-options="chartOptions3"></div>
	</accordion-group>    
</accordion>